# ChaldOS ISOLINUX menu configuration
include /boot/isolinux/menu.cfg
default /boot/isolinux/vesamenu.c32
prompt 0
timeout 100

MENU TITLE ChaldOS v1.0.0

MENU COLOR border       30;44  #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #ff00ff00 #a0000000 std
MENU COLOR sel          7;37;44 #ff00ff00 #a0000000 all
MENU COLOR unsel        37;44  #ffcccccc #a0000000 std
MENU COLOR help         37;44  #ff00ff00 #a0000000 std
MENU COLOR msg07        37;40  #ff00ff00 #a0000000 std
MENU COLOR timeout_msg  37;44  #ff00ff00 #a0000000 std
MENU COLOR timeout      1;37;44 #ff00ff00 #a0000000 std
